[mysqld]
sql_generate_invisible_primary_key=1
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
innodb_doublewrite=OFF
innodb_flush_log_at_trx_commit=1
innodb_buffer_pool_size=4294967296
innodb_log_buffer_size=4194304
innodb_write_io_threads=4
delay_key_write=OFF
event_scheduler=OFF
innodb_adaptive_hash_index=OFF
innodb_buffer_pool_dump_pct=0
innodb_buffer_pool_in_core_file=OFF
innodb_open_files=2400
local_infile=ON
log_bin_trust_function_creators=OFF
max_allowed_packet=536870912